* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
 
}
.container {
  position: relative;
}
.menu {
  position: relative;
  z-index: 1;
  padding: 5px;
  color: #fff;
}
.menu .title {
  font-weight: bolder;
  padding-right: 30px;
}
.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.slider {
  padding-top: 5rem;
  position: absolute;
  top: 0;
  left: 0;
  background-color: #a466db;
  width: 100%;
  height: 100dvh;
  overflow: hidden;
}
.container-slider {
  color: #fff;
  padding: 5px;
  border-radius: 5px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.large {
  font-size: 2rem;
  font-weight: bolder;
}
.slider img {
  margin: 0 30px;
  margin-left: 10%;
  width: 300;
  mix-blend-mode: multiply;
  justify-content: center;
  align-content: center;
}
.slider h2 {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: bolder;
  justify-content: center;
  align-content: center;
}
.slider p {
  margin: 10px 0;
  font-size: 16px;
}
.slider span {
  display: block;
  margin: 5px 0;
  font-size: 14px;
}
.slider span {
  display: block;
  margin: 10px 0;
  font-size: 18px;
  color: #ffd700;
}
.product-list {
  list-style: none;
  margin-top: 100dvh;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product-list li {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-list h2 {
  font-size: 1.5em;
  margin: 0 0 10px 0;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-list img {
  max-width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: fill;
  margin: 5px auto;
}

.product-list p {
  margin: 10px 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 2;
}

.product-list b {
  display: block;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.product-list span {
  text-align: justify;
  padding: 23px;

  margin: 5px 0;
  font-size: 0.9em;
  color: #555;
}
h3 {
  width: 50%;
  text-align: center;
  padding: 50px;
  margin: 0 auto;
  font-size: 30px;
  border: #555, solid, 5px;
  background-color: #ffffff;
  border-radius: 20px;
  color: red;
}
button {
  padding: 20px;
  cursor: pointer;
  background-color: #a466db00;
  border: none;
  font-size: 1rem;
  color: #fff;
}
#filter-button {
  display: flex;
  gap: 20px;
  justify-content: center;
}
