body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 20px;
}

.product-list {
  list-style: none;
  padding: 0;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
}

.product-list li {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.product-list h2 {
  font-size: 1.5em;
  margin: 0 0 10px 0;
  text-wrap: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}

.product-list img {
  max-width: 100%;
  height: 300px;
  border-radius: 10px;
  object-fit: fill;
  margin: 5px auto;
}

.product-list p {
  margin: 10px 0;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
  text-overflow: ellipsis;
  overflow: hidden;
  line-height: 2;
}

.product-list b {
  display: block;
  font-weight: bold;
  text-align: center;
  margin-top: 20px;
}

.product-list span {
  text-align: justify;
  padding: 23px;

  margin: 5px 0;
  font-size: 0.9em;
  color: #555;
}
h3 {
  width: 50%;
  text-align: center;
  padding: 50px;
  margin: 0 auto;
  font-size: 30px;
  border: #555, solid, 5px;
  background-color: #ffffff;
  border-radius: 20px;
  color: red;
}
button {
  padding: 20px;
  border-radius: 20px;
  background-color: rgb(255, 255, 255);
  cursor: pointer;
}
#filter-button {
  display: flex;
  gap: 20px;
  justify-content: center;
}
